vti_encoding:SR|utf8-nl
vti_author:SR|B_HEAD\\B_head
vti_modifiedby:SR|B_HEAD\\B_head
vti_timelastmodified:TR|20 Aug 2014 10:43:34 -0000
vti_timecreated:TR|20 Aug 2014 10:43:34 -0000
vti_cacheddtm:TX|20 Aug 2014 10:43:34 -0000
vti_filesize:IR|11702
vti_cachedlinkinfo:VX|S|octicons.eot S|octicons.woff S|octicons.ttf S|octicons.svg
vti_cachedsvcrellinks:VX|FSUS|octicons/octicons.eot FSUS|octicons/octicons.woff FSUS|octicons/octicons.ttf FSUS|octicons/octicons.svg
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|class.html routine.html master.dwt expression.html literal.html declaration.html lang-spec.html index.html lang-struct.html statement.html template.html
